.head {
    display: flex;;
    padding: 10px;
    width: 100%;
    margin: 0;
    border: 0;
    background: #519872;
}

img {
    padding: 25px;
    width: 30px;
    height: 25px;
}

h1 {
    color: white
}